
h1{
    display: flex;
    justify-content: center;
}

.container{
    width: 67%;
    max-width: 120rem;
    margin: 0 auto;
}

.contain{
    background-color: rgba(11, 11, 11, 0.66);
    border-radius: 5%;
}

.contain-footer{
    background-color: rgba(11, 11, 11, 0.66);
}