h1 {
    display: flex;
    justify-content: center;
}

.container {
    width: 70%;
    max-width: 120rem;
    margin: 0 auto;
}

.indexcontainer {
    overflow: hidden;
}

.contain {
    background-color: rgba(11, 11, 11, 0.66);
    border-radius: 5%;
}

.contain-footer {
    background-color: rgba(11, 11, 11, 0.66);
}

@media only screen and (max-width: 500px) {
    .container {
        width: 80%;
        max-width: 120rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 90%;
        max-width: 120rem;
        margin: 0 auto;
    }
}