.SNBcarousel {
    justify-content: center;
    max-width: 800px;
    margin: 10px auto 10px auto;
}

.project_info h3{
    color: var(--third-color),
}

.project_info .techIcons_container{
    margin: 50px 0;
}

.project_info .techIconText{
    margin-top: 20px;
}
.project_info .techIcon{
    margin-left: 0;
}