.techIconContainer {
    display: flex;
    justify-content: flex-end;
    margin: 50px 100px 50px 0;

    li {
        text-decoration: none;
        list-style-type: none;

        p {
            text-align: center;
            margin-bottom: 40px;
            margin-top: 10px;
            margin-left: 30px;      
        }
    }

}

.techIcon {
    width: 80px;
    height: 80px;

    margin-left: 30px;
}

@media only screen and (max-width: 1200px) {
    .techIconContainer {
        display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: center;
		width: 100%;
        padding: 0;
        margin: 50px auto;

        li {

            p {
                margin-bottom: 30px;
                margin-left: 0;
            }


        }
    }

    .techIcon {
        width: 50px;
        height: 50px;

        margin-left: 30px;
        margin-bottom: 10px;

    }

}