html,
body {
  /* theme */
  --main-color: rgb(19, 48, 91);
  --secondary-color: rgb(226, 70, 48);
  --third-color: rgb(226, 70, 48);

  background-color: rgb(20, 20, 20);
  color: rgb(200, 200, 200);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

.body-dark-mode{
  background-color: rgb(255, 255, 255);

  .about_container_text{
    color: black;
  }

  h1{
    color: var(--secondary-color);
  }

  .wavecontent h1{
    color: white;
  }

  .center{
    color: var(--secondary-color);
  }
}

.swiper {
  width: 600px;
  height: 300px;
  margin: 30px auto !important;
}



a {
  color: inherit;
  text-decoration: none;
}

.Colorh1 {
  justify-content: left;
  color: rgb(226, 70, 48);
  font-size: 3rem;
  margin-top: 100px;
}

.link {
  color: var(--third-color)!important;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  color: white;
}

p,
li,
a {
  margin: 0px;
  color: rgb(200, 200, 200);
  font-size: 1.2rem;
}

@media only screen and (min-width: 500px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 900px) {
  p,
  li,
  a {
    margin: 0px;
    color: rgb(200, 200, 200);
    font-size: 0.9rem;
  }
  .Colorh1 {
    font-size: 2rem;
  }
}

.color_dark{
  p, li, a{
    color: black;
  }
}
